@import "bs/css/buttons.less";

.btn-preface {
    display: inline-block;
    width: 48%;
    padding: .2em .1em;
    margin: .5em 0 0;
    border: 0;
    border-radius: 2px;
    text-align: center;
    background-color: #fff;
}

/* boutons d'admin */
body .spip-admin-bloc, body .spip-admin-float {z-index: @zindexFixedNavbar + 1; top: 50px; right: 0;}
#spip-admin .spip-admin-boutons {
   font: bold 9px/1em @monoFontFamily;
   display: block;
   text-align: center;
   margin-bottom: 5px;
   -webkit-border-radius: 5px 0 0 5px;
   -moz-border-radius: 5px 0 0 5px;
   border-radius: 5px 0 0 5px;
}