/*
    Author: christophe le drean
    Author URI: rouge-rose.net
    Template: caap.asso.fr
    Version: 3.0.0
*/

/*   =Bootstrap variables & mixins
   ------------------------------------------------------ */
   @import "css/variables.less";
   @import "css/mixins.less";


/*   =Utilities
   ------------------------------------------------------ */
   .oh {overflow: hidden;}
   // gouttière
   .gtr {margin-left:@gridGutterWidth;}

/*   =Layout
   ------------------------------------------------------ */
   .main article {
      min-height: 1px; // prevent collapsing columns
      #grid > .core > .span(12)
   }
   .self > .titre, // rubrique
   .self .header .titre,
   .contenu-entete .texte, // rubrique
   .header > .entry-title, // liste art et art lui-même
   .header hgroup,
   .entry-content,
   .contenu,
   figure.documents {
      float: right;
      #grid > .core > .span(8)
   }
   .self > .titre,
   .self .header > .titre,
   .self hgroup {margin-bottom: @baseLineHeight * 2;}
   .header > .entry-title,
   .header hgroup {
      margin-left: (@gridColumnWidth * 4) + (@gridGutterWidth * (4 - 1)); // 4 col, si pas de logo
   }
   .header.lg > .entry-title,
   .header.lg hgroup {margin-left: 0;} // Si logo

   .contenu-entete .nav-secondaire,
   .liste .meta-publi,
   .self .meta-publi,
   .self .contextuel {
      float: left;
      #grid > .core > .span(4)
   }
   .notes {
      #grid > .core > .span(5)
   }
   .pager-nav {clear: both;}

/*   =Liens
   ------------------------------------------------------ */
   a {
      -webkit-transition:color .35s linear .1s;
         -moz-transition:color .35s linear .1s;
           -o-transition:color .35s linear .1s;
              transition:color .35s linear .1s;
   }
   a:visited {}
   a:hover {text-decoration: underline;}
   a:active, a:focus {position: relative; top: 1px;}


/*   =Navs
   ------------------------------------------------------ */
   /* Elements communs */
   .nav .item,
   .meta-publi .category {text-transform: uppercase;}
   .nav .item:before, .meta-publi .category:before {content:'/ '; color: @grayLight;}
   .nav .item.on > a {font-weight: 700; color: @linkColor;}
   .nav > li > a:hover {background: none; color: @linkColorHover;}

   /* Navigation principale */
   .nav-principale {border-bottom:@borderCaap;}
      .menu-liste {border-top: @borderCaap; margin-left: 20px; padding-top: 0.5em;}
      .nav .item a {display: inline; color: @gray;}
      .nav-principale .menu-liste:first-child {margin-left: 320px;}
      .nav-principale .descriptif_site {border-top: @borderCaap; padding-top: 0.5em;}

   /* Navigation secondaire */
   .nav-secondaire {margin-left: 0; clear: left;}
   .nav-secondaire .nav .nav {margin-left: @gridGutterWidth/4;}

/*   =Banner
   ------------------------------------------------------ */
   header[role=banner] {
      margin-top:@baseLineHeight;
      margin-bottom: @baseLineHeight;
      position: relative;
   }
   header[role=banner] .logo {position: relative;}
      #logo {padding-bottom: 0.5em; border-bottom: @borderCaap; margin-left: 0;}
      #baseline {
         color: @black;
         font: italic 700 16px/1 @sansFontFamily;
         position: absolute; bottom: 0; right: 0;
         margin-bottom: 0.5em;
      }

/*   =Contenu
   ------------------------------------------------------ */
   .contenu .texte,
   .contenu .ps {margin-bottom: @baseLineHeight*2;}

/*   =Contenu entete
   ------------------------------------------------------ */
   .contenu-entete {/*border-bottom: 2px dotted @grayLighter;*/ margin-bottom: @baseLineHeight;}

/*   =Contenu contextuel
   ------------------------------------------------------ */
   .contextuel, .contextuel a,
   .self .meta-publi {color: @grayLight;}
   .contextuel a:hover {color: @linkColor;}

/*   =Hentry
   ------------------------------------------------------ */
   .hentry {}
      .entry-title {}
      .soustitre {font-style: italic; font-weight: 400; color: @gray;}
      .meta-publi {display: inline-block; margin: 0; padding: 0;}
      .meta-publi li {display: block;}
      .self .meta-publi .category {margin-bottom: @baseLineHeight;}
      .entry-content {}
         .entry-content .chapo {
            color: @black;
            font-size: @baseFontSize * 1.14;
            margin-bottom: @baseLineHeight * 2;
         }
      .tags {margin-bottom: @baseLineHeight;}
      .tags .tag {display: inline;}
      .tags .tag:before {content: '\25a0\0020';}

/*   =Self
   ------------------------------------------------------ */
   .self .titre,
   .contenu-entete.self .texte {color: @black;}
   .self .titre {font-size: @baseFontSize * 2.14;}
   .self hgroup .titre {margin-bottom: 0;}
   .self .soustitre {font-size: @baseFontSize * 1.71; margin-top: 0;}
   .contenu-entete.self .texte {font-size: @baseFontSize * 1.14;}
   .self .meta-publi {margin-bottom: @baseLineHeight; clear: left;}

/*   =Listes
   ------------------------------------------------------ */
   .liste.selection {float: left;}
   .liste .liste-items {margin-left: 0; list-style: none;}
      .liste-items .intertitre {
         font-size: @baseFontSize; line-height: @baseLineHeight; text-transform: uppercase;
         margin: 0;
      }

   /* Contenus */
   .liste .hentry {border-bottom: @borderCaap; padding-bottom: @baseLineHeight; margin-bottom: @baseLineHeight;}
   .liste .entry-title {font-size: @baseFontSize*1.57; line-height: @baseLineHeight;}
      .liste .entry-title a {color: @black;}
      .liste .entry-title a:hover {color: @linkColor;}
   .liste hgroup .entry-title {margin-bottom: @baseLineHeight/4;}
   .liste hgroup .soustitre {margin-top: @baseLineHeight/4;}
   .liste .soustitre {font-size: @baseFontSize*1.3; line-height: @baseLineHeight;}

/*   =Recherche
   ------------------------------------------------------ */
   .resultats {font-size: @fontSizeLarge; font-weight: 700;}
   .resultats.detail {border-bottom: 1px solid @black;}

/*   =Suite
   ------------------------------------------------------ */
   .suite:before {
      color: @black;
      content:'\25A0\0020';
      vertical-align: top;
      -webkit-transition:color .35s linear .1s;
         -moz-transition:color .35s linear .1s;
           -o-transition:color .35s linear .1s;
              transition:color .35s linear .1s;
   }
   .suite:hover:before {color: @linkColor;}

/*   =Spip
   ------------------------------------------------------ */
   /* Titres */
   h1.spip, h2.spip, h3.spip, h4.spip, h5.spip, h6.spip {font-weight: 400; color: @black;}
   h1.spip {font-size: @baseFontSize*2;}
   h2.spip,
   .notes .intertitre {font-size: @baseFontSize * 1.86; line-height: @baseLineHeight * 1.5; margin-bottom:(@baseLineHeight / 2.22); margin-top: @baseLineHeight;}
   h3.spip {font-size: @baseFontSize * 1.57; line-height: @baseLineHeight * 1.5; margin-top: @baseLineHeight * 1.5;}
   h4.spip {margin-top: @baseLineHeight * 1.5;}
   h5.spip {font-size: @baseFontSize; margin-top: @baseLineHeight; margin-bottom: 10px;}
   h6.spip {font-weight: 700; margin-top: @baseLineHeight; margin-bottom: 10px;}

   /* Notes */
   .notes .intertitre {border-bottom: 1px solid @black;}

   /* images et documents */
   .entry-content #documents {margin: 0;}
   .entry-content .documents {margin: 0 0 @baseLineHeight;}
   /* logos d'objet */
   .logo-objet {float: left; margin: 0 @gridGutterWidth @baseLineHeight 0;}
   .self .logo-objet {}
   /* HR */
   hr.spip {border-color: @black; margin:@baseLineHeight * 2;}

