/*
    Author: christophe le drean
    Author URI: rouge-rose.net
    Template: caap.asso.fr
    Version: 3.0.0
*/

/*   =Bootstrap variables & mixins
   ------------------------------------------------------ */
   @import "css/variables.less";
   @import "css/mixins.less";


/*   =Utilities
   ------------------------------------------------------ */
   .oh {overflow: hidden;}
   // gouttière
   .gtr {margin-left:@gridGutterWidth;}

/*   =Layout
   ------------------------------------------------------ */
   .main .self {
      min-height: 1px; // prevent collapsing columns
      #grid > .core > .span(12)
   }
   .self > .titre, // rubrique
   .self .header .titre,
   .contenu-entete .texte, // rubrique
   .header > .entry-title, // liste art et art lui-même
   .header hgroup,
   .entry-content,
   .contenu,
   figure.documents,
   .comment-item .comment-reply,
   .orientation,
   .section .section-contenu, .section .ariaformprop {
      float: right;
      #grid > .core > .span(8)
   }
   // debut forums > comment
   // padding de 10px. A prendre en compte de le calcul de la largeur
   .comment-item .comment-content,
   .comment-item .spip-admin.modererforum,
   .formulaire_forum .info,
   .formulaire_forum .message-post,
   .formulaire_forum .boutons,
   .formulaire_forum textarea {
      float: right;
      width: (@gridColumnWidth * 8) + (@gridGutterWidth * (8 - 1)) - 10px;
   }
   .comment-item .comment-meta,
   .formulaire_forum .qui {
      float: left;
      width: (@gridColumnWidth * 4) + (@gridGutterWidth * (4 - 1)) - 10px;
   }
   // fin forums > comment

   // début forums > comment en previsualisation
   .previsu .comment-item .comment-content {width: (@gridColumnWidth * 8) + (@gridGutterWidth * (8 - 1)) - 20px;}
   .previsu .comment-item .comment-meta {width: (@gridColumnWidth * 4) + (@gridGutterWidth * (4 - 1)) - 20px;}

   .self > .titre,
   .self .header > .titre,
   .self hgroup {margin-bottom: @baseLineHeight * 2;}
   .header > .entry-title,
   .self .header > .titre,
   .header hgroup {
      margin-left: (@gridColumnWidth * 4) + (@gridGutterWidth * (4 - 1)); // 4 col, si pas de logo
   }
   .header.lg > .entry-title,
   .self .header.lg > .titre,
   .header.lg hgroup {margin-left: 0;} // Si logo

   .contenu-entete .nav-secondaire,
   .liste .meta-publi,
   .self .meta-publi,
   .self .contextuel {
      float: left;
      #grid > .core > .span(4)
   }
   .notes {
      #grid > .core > .span(5)
   }
   .pager-nav {clear: both;}

   .section .intertitre,
   .ressources .theme,
   .forum .intertitre,
   .liste.auteur .intertitre {
      padding-left: (@gridColumnWidth * 4) + (@gridGutterWidth * (4 - 1) + @gridGutterWidth);
   }

/*   =Liens
   ------------------------------------------------------ */
   a {
      -webkit-transition:color .35s ease-in-out .2s;
         -moz-transition:color .35s ease-in-out .2s;
           -o-transition:color .35s ease-in-out .2s;
              transition:color .35s ease-in-out .2s;
   }
   p a, li a {
      color: @textColor;
      border-bottom: 1px solid @linkColor;
   }
   a:visited {}
   a:hover {text-decoration: none;}
   p a:hover, li a:hover {color: @linkColor;}
   a:active, a:focus {position: relative; top: 1px;}

   nav li a,
   .category a,
   .socialtags a,
   .markItUp a,
   h1 a,
   .comment-meta .permalink {border-bottom: 0;}


/*   =Navs
   ------------------------------------------------------ */
   /* Elements communs */
   .nav .item,
   .meta-publi .category {text-transform: uppercase;}
   .nav .item:before, .meta-publi .category:before {content:'/ '; color: @grayLight;}
   .nav .item.on > a, .meta-publi .category.on a {font-weight: 700; color: @linkColor;}
   .nav > li > a:hover {background: none; color: @linkColor;}

   /* Navigation principale */
   .nav-principale {border-bottom:@borderCaap;}
      .menu-liste {border-top: @borderCaap; margin-left: 20px; padding-top: 0.5em;}
      .nav .item a {display: inline; color: @gray;}
      .nav-principale .menu-liste:first-child {margin-left: 0;}
      .nav-principale .descriptif_site {border-top: @borderCaap; padding-top: 0.5em;}

   /* Navigation secondaire */
   .nav-secondaire {margin-left: 0; clear: left;}
   .nav-secondaire .nav .nav {margin-left: @gridGutterWidth/4;}

/*   =Banner
   ------------------------------------------------------ */
   header[role=banner] {
      //margin-top:@baseLineHeight;
      margin-bottom: @baseLineHeight * 2;
      //position: relative;
   }
   header[role=banner] .logo {position: relative;}
      #logo {padding-bottom: 0.5em; margin-left: 0;}
      #baseline {
         color: @black;
         font: italic 700 16px/1 @sansFontFamily;
         position: absolute; bottom: 0; right: 0;
         margin-bottom: 0.5em;
      }

/*   =Recherche-panneau
   ------------------------------------------------------ */
   .recherche-panneau {
      border-bottom: 4px solid #000;
      background-color: @black;
      margin-bottom: 20px;
   }
   .recherche-panneau .container {position: relative;}
   .recherche-panneau .action {
      background: #000 url(../img/search.png) no-repeat 4px 8px;
      height: 34px; width: 30px;
      display: inline-block;
      cursor: pointer;
      position: absolute; right: 0; bottom: -34px; z-index: 0;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
   }
   .recherche-panneau,
   .recherche-panneau .action {
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
   }
   .recherche-panneau .action:hover,
   .recherche-panneau .action.on {background-position: 4px -25px;}

/*   =Contenu
   ------------------------------------------------------ */
   .contenu .texte,
   .contenu .ps {margin-bottom: @baseLineHeight*2;}

/*   =Contenu entete
   ------------------------------------------------------ */
   .contenu-entete {margin-bottom: @baseLineHeight;}

/*   =Contenu contextuel
   ------------------------------------------------------ */
   .contextuel, .contextuel a,
   .self .meta-publi,
   .meta-publi time,
   .meta-publi .byline,
   .meta-publi .data-document {color: @grayLight;}
   .contextuel a:hover {color: @linkColor;}

   .meta-publi time,
   .comment-meta time {text-transform: uppercase;}

   .meta-publi .data-document,
   .meta-publi .byline {font-style: italic;}

   .liste-items .intertitre {
      font-size: @baseFontSize; line-height: @baseLineHeight; text-transform: uppercase;
      margin: 0;
   }

/*   =Hentry
   ------------------------------------------------------ */
   .hentry {}
      .entry-title {}
      .soustitre {font-style: italic; font-weight: 400; color: @gray;}
      .meta-publi {display: inline-block; margin: 0; padding: 0;}
      .meta-publi li {display: block;}
      .self .meta-publi .category {margin-bottom: @baseLineHeight;}
      .entry-content {}
         .entry-content .chapo {
            color: @black;
            font-size: @baseFontSize * 1.14;
            margin-bottom: @baseLineHeight * 2;
         }
      .tags {margin-bottom: @baseLineHeight;}
      .tags .tag {display: inline;}
      .tags .tag:before {content: '\25a0\0020';}

/*   =Self
   ------------------------------------------------------ */
   .self .titre,
   .contenu-entete.self .texte {color: @black;}
   .self .titre {font-size: @baseFontSize * 2.14;}
   .self hgroup .titre {margin-bottom: 0;}
   .self .soustitre {font-size: @baseFontSize * 1.71; margin-top: 0;}
   .contenu-entete.self .texte {font-size: @baseFontSize * 1.14;}
   .self .meta-publi {margin-bottom: @baseLineHeight; clear: left;}

/*   =Listes
   ------------------------------------------------------ */
   .liste.selection {float: left;}
   .liste .liste-items {margin-left: 0; list-style: none;}

   .liste .hentry {border-bottom: @borderCaap; padding-bottom: @baseLineHeight; margin-bottom: @baseLineHeight;}
   .liste .entry-title {font-size: @baseFontSize*1.57; line-height: @baseLineHeight; margin-bottom: @baseLineHeight;}
      .liste .entry-title a {color: @black;}
      .liste .entry-title a:hover {color: @linkColor;}
   .liste hgroup .entry-title {margin-bottom: @baseLineHeight/4;}
   .liste hgroup .soustitre {margin-top: @baseLineHeight/4;}
   .liste .soustitre {font-size: @baseFontSize*1.3; line-height: @baseLineHeight;}

   /* ressources */
   .liste.ressources .theme {
      font-size: 23px;
      border-bottom: 1px solid @linkColor;
   }
   .liste.ressources .articles {clear: both; margin-left: 0;}

   /* recherche */
   .liste.recherche {margin-bottom: @baseLineHeight*4;}

   /* profil auteur */
   .liste.profil.auteur {
      clear: both;
   }

/*   =Recherche
   ------------------------------------------------------ */

   .resultats {font-size: @fontSizeLarge; font-weight: 700;}
   .resultats.detail {border-bottom: 1px solid @black;}

/*   =Suite
   ------------------------------------------------------ */
   .suite{font-weight: bold;}
   .suite:before {
      color: @black;
      font-size: 18px;
      content:'\25A0\0020';
      vertical-align: baseline;
      -webkit-transition:color .35s linear .1s;
         -moz-transition:color .35s linear .1s;
           -o-transition:color .35s linear .1s;
              transition:color .35s linear .1s;
   }
   .suite:hover:before {color: @linkColor;}

/*   =Action
   ------------------------------------------------------ */
   .action.sujet {text-align: right;}


/*   =Membres
   ------------------------------------------------------ */
   /* orientation */
   .orientation {margin: @baseLineHeight 0; border-bottom: @borderCaap;}
   .orientation li {
      text-align: center;
      border: @borderCaap; border-width: 1px 0 0;
      display: inline;
      margin-left: 0; margin-bottom: @baseLineHeight;
   }
   .orientation li a {text-transform: uppercase; font-weight: 700;}
   .orientation .visite-nouveau {margin-left: @gridGutterWidth;}
   .orientation .intertitre {
      font-size: 22px;
   }

   /* mon profil */
   .liste.auteur dd {margin-left: @gridGutterWidth;}
   .liste.auteur dd + dt {margin-top: @baseLineHeight/2;}
   .liste.auteur.messages .titre {font-size: @baseFontSize; line-height: @baseLineHeight; margin-top: 0;}

/*   =Forums
   ------------------------------------------------------ */
   /* Rubrique */
   .meta-forum {margin-left: 0;}
   .meta-forum li {display: inline; margin-right: @gridGutterWidth/2;}
   .meta-forum .label {text-transform: uppercase; background-color: @gray;}

   /* Article */
   #forum {clear: both;}

   /* Article > comments */
   .comments .ecrire-message {text-align: right;}
   .comments .comment-item {clear:both; margin-bottom:@baseLineHeight;}
   .comments .comment {background-color: rgba(240,240,240,0.6); padding: 10px;}
   .comments .liste-items .liste-items .comment-item {border-top: 1px solid #fff; margin-bottom: 0;}
   .comments .comment-reply {margin-top: @baseLineHeight/2;}
      /* comment-meta */
      .comment-meta {position: relative;}
      .comment-meta .auteur {font-weight: 700;}
      .comment-meta .image {
         float: left;
         margin-right: 20px;
      }
      .comment-meta time {
         font-size: @fontSizeSmall;
         color: @grayLight;
         display: block;
      }
      .comment-meta .permalink {
         font-size: 20px;
         font-weight: 700;
         position: absolute;
         top: 0; right: 0;
         color: #ccc;
      }
      .comment-meta .permalink:hover {color: @linkColor;}
      /* boutons admin forum */
      .spip-admin.modererforum .bouton_action_post {float: right; margin-bottom: 0;}
      .spip-admin.modererforum .bouton_action_post.spam {margin-right: @gridGutterWidth;}


/*   =Spip
   ------------------------------------------------------ */
   /* Titres */
   h1.spip, h2.spip, h3.spip, h4.spip, h5.spip, h6.spip {font-weight: 400; color: @black;}
   h1.spip {font-size: @baseFontSize*2;}
   h2.spip,
   .notes .intertitre {font-size: @baseFontSize * 1.86; line-height: @baseLineHeight * 1.5; margin-bottom:(@baseLineHeight / 2.22); margin-top: @baseLineHeight;}
   h3.spip {font-size: @baseFontSize * 1.57; line-height: @baseLineHeight * 1.5; margin-top: @baseLineHeight * 1.5;}
   h4.spip {margin-top: @baseLineHeight * 1.5;}
   h5.spip {font-size: @baseFontSize; margin-top: @baseLineHeight; margin-bottom: 10px;}
   h6.spip {font-weight: 700; margin-top: @baseLineHeight; margin-bottom: 10px;}

   .section .intertitre {font-size: @baseFontSize * 1.86;font-weight: 400; border-bottom: 1px solid #000;}

   .texte h2.spip:first-child,
   .texte h3.spip:first-child,
   .texte h4.spip:first-child {margin-top: 0;}

   /* Notes */
   .notes .intertitre {border-bottom: 1px solid @black;}

   /* images et documents */
   .entry-content #documents {margin: 0;}
   .entry-content .documents {margin: 0 0 @baseLineHeight;}

   /* logos d'objet */
   .logo-objet {float: left; margin: 0 @gridGutterWidth @baseLineHeight 0;}
   .self .logo-objet {}

   /* HR */
   hr.spip {border-color: @black; margin:@baseLineHeight * 2;}

