/* Règles générales
---------------------- */
body {
  font:80%/140% Georgia, Times, "Times New Roman", serif;
  background:#000 url(../images/conteneur-fond.png) repeat-y top center;
/*  color:#fff;*/
  margin:0;
  padding:0;
  text-align:center;
}
img {
  border-width: 0;
  margin:0;
  padding:0;
}
a, a:link {
  color: #333;
  text-decoration:none;
  font-weight:bold;
}
a:visited {}
a:hover, a:hover span, #tetiere p a:hover {
  color:#c00;
  text-decoration:underline;
}
.suite {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  font-size:1em;
  color:#000;
}
h1,h2,h3,h4,h5,h6 {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  font-weight: normal;
  margin:0;
  padding:0;
}
h2 {
  font-size:1.8em;
  line-height:1.1em;
}
p, ul, li, dt, dd {
  margin:0;
  padding:0;
}
.invisible {
  display:none;
}
.clear {
  clear:both;
}

/* Structure
---------------------- */
#conteneur {
  color:#333;
  background-color:#fff;
  width:770px;
  margin:0 auto;
  border-top:10px solid #000;
  text-align:left;
}

/* Tetiere
---------------------- */
#logo {
  margin:10px 0 0 33px;
}

/* Menu Principal
---------------------- */
#menuPrincipal {
  font:1.1em/1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  background-color:#000;
  float:right;
  width:603px;
  margin:20px 0;
}
#menuPrincipal ul {
  list-style: none;
}
#menuPrincipal li {
  float:left;
  min-width:75px;
  border-right:2px solid #fff;
}
#menuPrincipal li a {
  font-weight:normal;
  color:#fff;
  display:block;
  float:left;
  border-left:5px solid #000;
  padding:2px 4px 11px 4px;
}
/* Commented Backslash Hack \*/
#menuPrincipal li a {float:none;}
  /* End IE5-Mac hack */
#menuPrincipal li a:hover {
  border-color:#999;
  background-color:#c00;
  text-decoration:none;
}
body#sommaire #menuPrincipal li#accueil a, #menuPrincipal li a.on {
  border-color:#c00;
}
body#sommaire #menuPrincipal li#accueil a:hover, #menuPrincipal li a.on:hover {
  border-color:#999;
}

/* Corps
---------------------- */
#corps {
  width:560px;
  float:left;
  margin-bottom:4em;
}

/* Recherche
---------------------- */
#recherche #corps h2 {
  margin:10px 0 0 33px;
  font-size:2em;
}
.rechercheCompteur {
  margin:1em 0 1em 33px;
  font:1.3em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}
#recherche .pagination {
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  padding:3px 0 0;
  text-align:right;
}/*
#recherche .pagination p {
  margin-left:66px;
}*/
#recherche .rechercheResultats {
  margin:1em 20px 1.5em 66px;
}
.rechercheResultats h3 {
  font-size:1.4em;
}
.rechercheResultats p {
  margin:.5em 0;
  font-size:1.1em;
}
p.resultatURL {
  margin-bottom:1.5em;
}
.spip_surligne {
  border:1px solid #c00;
}


/* Corps / Page d'accueil
---------------------- */
#corps > div:first-child {
  border-top-width: 0;
}
.articles {
  border-top:1px solid #000;
  padding:10px 0;
}
.articlesRubrique {
  font:1.2em/1.2em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  color:#666;
  float:left;
  width:100px;
  padding:0 0 0 33px;
}
.articlesContenu {
  margin:0 20px 10px 140px;
}
.articlesContenu h2 {
  font-size:1.6em;
}
.articlesContenu p.descriptifArticle, .descriptifRubrique p.descriptifArticle {
  text-align:justify;
  font-size:1.1em;
}
.articlesContenu p.descriptifArticle {
  margin-left:30px;
  margin-top:1em;
}
p.surtitreArticle, p.soustitreArticle {
  font:1.4em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  color:#999;
}
#rubriqueInfoNB div.articlesRubrique {
  width:140px;
}
#rubriqueInfoNB div.descriptifRubrique {
  margin:0 20px 10px 170px;
}
#rubriqueInfoNB div.articlesContenu {
  border-top:1px solid #d9d9d9;
  margin-right:0;
}
#rubriqueInfoNB h2 {
  font-size:1.4em;
  color:#000;
}
#rubriqueInfoNB h3 {
  font-size:1.5em;
  font-weight:normal;
  padding-right:20px;
  margin:.5em 0;
}
#rubriqueInfoNB h4 {
  font-size:1.5em;
  border-bottom:1px solid #d9d9d9;
  margin:.5em 0 0 30px;
  padding:0 20px .5em 0;
}

/* Corps / Rubriques
---------------------- */
.pagination {
  font:1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  color:#666;
  text-align:right;
  margin-bottom:1em;
  padding-top:10px;
}
.pagination p {
  margin:0 20px .4em;
}
.pagination .listePagination {
  font-size:1.2em;
}
#descriptifRubrique {
  margin:20px 20px 2em 33px;
  font: 1.2em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  
}

/* Corps / Rubrique Ressources
---------------------- */
#ConteneurToggle {
  width: 50%;
  float: left;
}
#ConteneurInfos {
  width: 50%;
  float: left;
}
#ConteneurToggle ul, #ConteneurInfos ul {
  list-style: none;
  font:1.1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}
#ConteneurToggle ul {
  margin:0 0 10px 33px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
#ConteneurInfos ul {
  margin: 0 0 10px;
}
#ConteneurToggle ul li, #ConteneurInfos ul li {
  border-bottom:1px solid #d9d9d9;
  padding:5px;
}
#cloneUL {
  background-color: #eee;
}
h2#TCategories, h2#TInfos {
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  padding:2px 5px 3px;
}
h2#TCategories {
  margin-left: 33px;
  border-right: 1px solid #fff;
}
#ConteneurToggle li:hover {
  background-color: #eee;
}

/* Corps / Articles
---------------------- */
#contenuArticle {
  margin:0 20px 0 0;
  line-height:1.4em;
  font-size:1.2em;
}
#contenuArticle p.spip, #contenuArticle ul.spip, #articleChapo, #articleTexte, #articlePS {
  text-align:justify;
}
#articleTitre {
  padding-bottom:2em;
  border-bottom:1px solid #d9d9d9;
}
#articleTitre, #articleChapo, #articleTexte, #articlePS, #articleNotes {
  padding-left:30px;
}
#articleTitre p.surtitreArticle {
  margin-bottom:0.5em;
  font-size:1.1em;
}
#articleTitre p.soustitreArticle {
  margin-top:0.5em;
  font-size:1.1em;
}
#contenuArticle h2.articleTitre {
  font-size:1.7em;
  line-height:1.1em;
  font-weight:normal;
  color: #c00;
}
#articleAuteurs {
  margin-bottom:2em;
}
#articleAuteurs p {
  text-align:right;
  font:1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  margin-top:.5em;
  color:#999;
}
#articleChapo {
  color:#000;
  font-weight: bold;
  margin:2em 0 2em 70px;
}
#articleTexte {
  margin-bottom:2em;
}
#contenuArticle h3.spip {
  font-size:1.4em;
  font-weight:normal;
  color:#999;
  margin:1.5em 0 0;
}
#articleTexte p.spip {
  margin:.8em 0 .8em 70px;
}
#contenuArticle ul.spip {
  list-style-type: square;
  margin-left:70px;
}
#contenuArticle ul.spip ul.spip {
  margin-left:10px;
}
li.spip {
  margin-left:15px;
}
#contenuArticle blockquote.spip {
  margin:0 0 0 70px;
  padding:3px 7px;
  background-color:#f0f0f0;
}
blockquote.spip p:before {
  content:"\00AB ";
  font-size:4em;
}
blockquote.spip p:after {
  content:" \00BB";
  font-weight:bold;
}
#contenuArticle blockquote.spip p.spip {
  margin:0;
}
#contenuArticle table.spip {
  font:.9em "Lucida Grande",Arial,sans-serif;
  text-align:left;
  border-collapse:collapse;
  border:1px solid #ddd;
  margin-left:70px;
}
table.spip th, table.spip tr.row_first {
  color:#fff;
  background-color:#333;
}
table.spip td, th {
  border-left:1px solid #ddd;
  padding:5px;
}
table.spip tr.row_odd {
  background-color:#e5e5ff;
}
.spip_documents_left {
  margin:.9em 20px 10px 70px;
  margin-left: 0;
}
.spip_documents_right {
  margin:.9em 0 10px 20px;
}
.spip_documents_center {
	text-align: center;
	/*width: 440px;*/
	margin: auto;
	display: block;
}
.spip_doc_titre, .spip_doc_descriptif {
  font:.9em/1em "Lucida Grande",Arial,sans-serif;
  text-align:center;
  color:#999;
}
#articlePS, #articleNotes {
  background:transparent url(../images/image-hr.png) no-repeat top center;
  margin-left:70px;
  padding:2em 0 1.3em 30px;
  font-size:.95em;
  line-height:1.2em;
}
hr.spip {
  background: transparent url(../images/image-hr.png) no-repeat top center;
  margin: 1.5em 0;
  margin-left: 70px;
  height: 10px;
  border: 0 none;
}

/* Corps Mots-clés
---------------------- */
h3.motArticlesLies {
  margin-top:1.8em;
  margin-left:70px;
  color:#999;
  margin-bottom:0;
}
dl.motArticlesLiesListe {
  margin:0.5em 0 0 70px;
}
dl.motArticlesLiesListe dt {
  margin-bottom:0.5em;
}

/* Corps Portfolio
---------------------- */
body#portfolio {
  background-image:none;
}
#portfolio #conteneur {
  background-color:#000;
  color:#fff;
  text-align:center;
  position:relative;
}
#portfolio #tetiere {
  padding:5px 0;
  width:800px;
  position:absolute;
  background-color:#fff;
  color:#666;
}
#portfolio #logo {
  margin:0 10px 0 3px;
  float:left;
}
#portfolio #tetiere p {
  margin-top:17px;
}
#portfolio #tetiere p a.select {
  color:#c00;
}
#portfolio #corps {
  width:770px;
  margin-top:5em;
}
#portfolio #Principal {
  width:530px;
  margin:0 auto;
}
p#photo {
  margin:0;
}
#photo img {
  border:5px solid #fff;
}
.Vignette {
  display:block;
}
.Vignette em {
  display:block;
  background-position:50% 50%;
  background-repeat:no-repeat;
}
.Vignette a, .Vignette a:link, .Vignette a:visited {
  border:none !important;
  display:block;
  text-indent:-9999px;
  font-size:1px;
  line-height:1px;
}
#PrecedenteSuivante {
  position:absolute;
  left:50%;
  top:5em;
  background-color:red;
}
#PhotoPrecedente, #PhotoSuivante {
  position:absolute;
  top:0;
  background-color:#fff;
}
#PhotoPrecedente a, #PhotoSuivante a {
  width:110px;
}
#PhotoPrecedente {
  right:280px;
}
#PhotoSuivante {
  left:280px;
}
#PrecedenteSuivante a strong {
  display:block;
  position:absolute;
  top:0;
}
#PhotoPrecedente a strong {
  background:url("../images/portfolio/photonav_prev.gif") no-repeat 50% -100px;
  right:-280px;
}
#PhotoSuivante a strong {
  background:url("../images/portfolio/photonav_next.gif") no-repeat 50% -100px;
  left:-280px;
}
html>body #PhotoPrecedente a strong {
  background-image:url("../images/portfolio/photonav_prev.png");
}
html>body #PhotoSuivante a strong {
  background-image:url("../images/portfolio/photonav_next.png");
}
#PhotoPrecedente a:hover strong, #PhotoSuivante a:hover strong, #PhotoPrecedente a:active strong, #PhotoSuivante a:active strong {
  background-position:50% 5px;
  cursor:pointer;
}
#Descriptif {
  position:absolute;
  width:50%;
  right:0;
  top:180px;
}
#Descriptif h2 {
  font-size:1.2em;
  line-height:130%;
  letter-spacing:0;
  margin:0; padding:15px 5px 5px 0;
  background:url("../images/portfolio-bordure-descripti.gif") no-repeat 280px 0;
}
#Descriptif p {
  font-size:1.1em;
  font-weight:normal;
  margin:0 0 0.5em; padding:0 5px 0 0;
}
#Descriptif h2, #Descriptif p {
  padding-left:280px;
}
#DescriptifSupp {
  position:absolute;
  left:0;
  top:180px;
  width:50%;
}
#DescriptifSupp ul {
  padding-right:280px;
  font-size:1.2em;
  list-style:none;
}
#DescriptifSupp li {
/*  text-align:right;*/
}
li.Compteur {
  font-size:.9em;
  padding-top:15px;
  padding-bottom:10px;
  background:url("../images/portfolio-bordure-descripti.gif") no-repeat 100% 0;
}
p.mentions {
  font:.85em/1em "Lucida Grande",Arial,sans-serif;
  color:#333;
  margin-top:1.5em;
}
p.mentions a {
  color:#333;
}

/* Colonne Droite
---------------------- */
#colonneDroite {
  margin:0 0 0 590px;
  padding:10px 0 0;
  font-size:1.1em;
  color:#666;
}
#colonneDroite h2 {
  font-size:1.3em;
  font-weight:normal;
  margin:0 3px .4em 0;
  color:#000;
}
#colonneDroite h3 {
  font-weight:normal;
  font-size:1.2em;
  margin-right:3px;
  color:#000;
}
#zoneRecherche {
  border-bottom:1px solid #000;
  margin:0 0 1.5em;
}
#colonneDroite p.descriptifRubrique {
  font-size:1em;
  border-bottom:1px solid #000;
  margin:0 0 1.5em;
  padding:0 5px 1.5em 0;
}
#colonneDroite ul {
  list-style:none;
}
#colonneDroite ul.appelSommaire, #colonneDroite dl.appelSommaire, dl.themesEtDocuments {
  list-style:none;
  border-bottom:1px solid #000;
  padding-bottom:1.5em;
  margin-bottom:1.5em;
}
#colonneDroite ul.appelSommaire li, #colonneDroite dl.appelSommaire dt {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  font-weight:bold;
  border-bottom:1px solid #d9d9d9;
  margin:.5em 0 .5em;
  padding:0 5px .5em 0;
}
#colonneDroite dl.appelSommaire dt {
  border-bottom:none;
  margin:0;
  padding:0 5px 0 0;
}
#colonneDroite dl.appelSommaire dd {
  margin-right:5px;
  margin-bottom:1em;
}
#colonneDroite ul#aProposSite li {
  font-weight:normal;
}
ul.appelSommaire img {
  float:left;
  margin-right:10px;
}

/* Colonne Droite / navigation secondaire
---------------------- */
#navigationSecondaire {
  font:1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  margin-bottom:1.5em;
  padding-bottom:1.5em;
  border-bottom:1px solid #000;
}
#positionSite {
  margin:0 0 .7em;
}
#navigationSecondaire #listeNS {
  color:#fff;
  background-color:#000;
}
#navigationSecondaire li {
  border-bottom:1px solid #fff;
}
#navigationSecondaire a {
  color:#fff;
  font-weight:normal;
  border-left:5px solid #000;
  display:block;
  padding:2px 0 2px 3px;
}
#navigationSecondaire ul ul li a {
  padding-left:10px;
  text-decoration:none;
}
#navigationSecondaire a:hover, #navigationSecondaire a.on:hover {
  border-color:#999;
  background-color:#c00;
  text-decoration:none;
}
#navigationSecondaire a.on {
  border-color:#c00;
  text-decoration:none;
}

/* Colonne Droite / Articles
---------------------- */
dl.themesEtDocuments {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  margin-top:0;
}
dl.themesEtDocuments dt.motscles {
  margin:0.5em 0 0;
  border-bottom:1px solid #d9d9d9;
}
dl.themesEtDocuments dd {
  margin:.3em 5px .5em 5px;
}
dl.themesEtDocuments dt img {
  float:left;
  margin-right:5px;
}
dl.themesEtDocuments dt.portfolioSommaire img {
  float:none;
}
dd.portfolioCompteur {
  float: none;
}

/* Pied de page
---------------------- */
#piedDePage {
  font:1em/.9em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  background-color:#000;
  color:#fff;
  width:560px;
  margin:0 0 2em;
  float:left;
}
#portfolio #piedDePage {
  border:1px solid #fff;
  background-color:transparent;
}
#piedDePage ul {
  list-style: none;
  margin-left:33px;
}
#portfolio #piedDePage ul {
  margin-left:0;
}
#piedDePage li {
  float:left;
  min-width:60px;
  border-right:2px solid #fff;
}
#piedDePage li a {
  font-weight:normal;
  color:#fff;
  display:block;
  float:left;
  padding:2px 4px 4px 4px;
}

/* Commented Backslash Hack \*/
#piedDePage li a {float:none;}
  /* End IE5-Mac hack */
#piedDePage li a:hover {
  background-color:#c00;
  text-decoration:none;
}

/* Formulaires
---------------------- */

/* Formulaires : règles générales
---------------------- */
form {
  margin:0;
  padding:0;
}
.forml {
  border:1px solid #ddd;
  border-color:#ccc #eee #eee #ccc;
}
.forml:focus {
  background-color: #fcc;
}
input, textarea {
  font:1em Courier,"Andale Mono",monospace;
}
.formulaireChampsO {
  color: #c00;
  font-weight: bold;
}
p.formulaireChampsO {
  margin: 5px 5px 5px 15px;
  font:bold .9em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
}

/* Formulaire recherche (règles spécifiques)
---------------------- */
#colonneDroite .formulaire_recherche {
	margin-bottom:1.5em;
	padding-bottom:1.5em;
	border-bottom:1px solid #000;
}

#colonneDroite .formulaire_recherche label {
	font:1.3em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
	font-weight:normal;
	margin:0 3px .7em 0;
	color:#000;
}

#zoneRecherche #recherche {
  width:100px;
  margin-right:10px;
}
#zoneRecherche p {
  margin:.8em 0 1.5em;
}
#zoneRecherche .forml {
  background-color: #eee;
}
.bouton {
  border:0;
  background-color:#000;
  color:#fff;
}
.bouton:hover {
  background-color:#900;
}

/* Formulaire Page contact
---------------------- */
#formulaireContact {
  margin-left: 103px;
}
#formulaireContact fieldset {
  font:1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  background-color: #eee;
  border: 1px solid #d4d4d4;
  margin: 0;
}
#formulaireContact .reponse_formulaire {
}
#formulaireContact .reponse_formulaire p {
  color: #c00;
  font-weight:bold;
  margin-left: 15px;
}
#formulaireContact legend {
  background-color:transparent;
  margin: 10px;
  padding: 5px;
  color: #000;
}
#formulaireContact legend, #formulaireContact label {
  
}
#formulaireContact label {
  display: block;
  margin:0 0 3px 15px;
  color: #666;
}
#formulaireContact .forml {
  margin-bottom: 1em;
  margin-left: 15px;
}
#formulaireContact div.spip_bouton {
  text-align: right;
}
