body{
  background:#fff;
  color:#000;
  font:12pt/14pt Georgia,Times,"Times New Roman",sans-serif;
  margin:2cm;
}
a img {
  border: none;
}
img {
  border-width: 0;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6 {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  font-weight: normal;
}
#menuPrincipal, #navigationSecondaire, #themes, #zoneRecherche, #piedDePage, .portfolioSommaire, #contact {
  display: none;
}
.articles {
  border-top: 2pt solid #000;
  margin-bottom: 5pt;
}
#articleChapo {
  font-weight: bold;
}
#contenuArticle p a:link:after, #contenuArticle p a:visited:after {
  content: " [" attr(href) "] ";
}
table.spip {
  border: 1pt solid #000;
}
table.spip td, table.spip th, table.spip tr {
  border:1pt solid #ddd;
  padding:5pt;
}
.spip_documents_left {
  margin:.9em 20pt 10pt 0;
}
.spip_documents_right {
  margin:.9em 0 10pt 20pt;
}
blockquote.spip {
  border: 1pt dotted gray;
  padding: 5pt;
}