@import "bootstrap/css/scaffolding.less";

.spip_document {
	display: flex;

	figcaption {
		font-size: var(--step--1);
		line-height: 1.1;

		> div + div {
			margin-top: var(--space-2xs);
		}
	}
}

// Documents images et vidéos
.spip_document.oembed {
	display: flex !important;

	.oembed {
		background: @white;
		padding: 0;
		border-color: @white;
	}
}

.spip_document_image {
	> figure {
		margin: 0 auto;
		max-width: 100%;
	}

	.spip_doc_lien {
		display: block;
	}

	.portfolio & > figure {
		margin: 0;
	}
}

.spip_document_video,
.spip_document_image {
	figure {
		flex: 1;
		margin: 0;
	}

	figcaption {
		border-left: 1px solid @black;
		padding: 0.5rem;
		margin-left: 0.1rem;
		margin-top: 0.5rem;
	}
}


// Documents fichiers
.spip_document_file {
	// border: 1px solid lighten(@grayLight, 20%);
	box-shadow: 1px 1px 8px 2px fade(@grayLight, 25%), 3px 3px 6px 3px fade(@grayLighter, 25%);
	border-radius: 4px;
	padding: 1rem;
	// sidebar
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;

	> figure {
		margin: 0;
		flex-basis: 0;
		flex-grow: 999;
		min-width: 50%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		gap: 1rem;
	}

	img {
		width: 64px;
		height: auto;
	}

	.spip_doc_action {
		margin: var(--space-s) auto 0;

		// display: flex;

		// .bouton {
		// 	flex: 1;
		// 	justify-content: center;
		// }
	}
}

// spip
   // images et documents
//    .spip_documents img,
//    .documents img,
//    .logo-objet .spip_logos,
//    .avatar {.img-polaroid}
//    .spip_documents a,
//    figure.documents a,
//    .image {display: block; border-bottom: none;}
//    .spip_documents a:hover,
//    figure.documents a:hover {text-decoration: none;}
   // dans le texte (article, rubrique, etc.)
//    .texte .spip_documents {display: block; margin-top: 5px; margin-bottom: @baseLineHeight;}
//    .texte .spip_documents.spip_documents_left {margin-right:@gridGutterWidth;}
//    .texte .spip_documents.spip_documents_center {text-align: center; clear: both; margin-bottom: 0;}
//    .texte .spip_documents.spip_documents_right {margin-left: @gridGutterWidth;}
    //   .texte .spip_doc_titre {margin-top: @baseLineHeight/2;}
    //   .texte .spip_doc_titre,
    //   .texte .spip_doc_descriptif {font-size: @fontSizeSmall; color: @grayLight; margin-left: 0;}
   // dans le portfolio ou dans documents joints aux articles ou rubriques
//    .documents.portfolio a {float: left; margin: 0 @gridGutterWidth @baseLineHeight 0;}
//    .documents.portfolio .item_0 {margin-right: 0;}
//    .documents.portfolio .item_1 {clear:left;}
   // les fichiers (autres que les images) sont présentés en liste dl > dt > dd
//    .documents.fichiers dt {float: left;}
//    .documents.fichiers dd {overflow: hidden;}
    //   .documents.fichiers dt img {margin-right: @gridGutterWidth;}
    //   .documents.fichiers .spip_doc_titre {margin-top: 0;}
